=  render partial: 'shared/modal2'
=  render partial: 'shared/stages', :locals => { :stage => :second }

.row
  .col-md-12
    %ol.breadcrumb
      %li
        %a{:href=>"/"} Главная
      %li
        %a{:href=>"/procedure/1/stage/1/"} Тестовая процедура
      %li.active Сбор несовершенств - 2 стадия

.row
  = render partial: 'shared/left_side'


  .col-md-6
    .alert.alert-success
      = link_to 'вернуться на 1 стадию сбора несовершенств', '/procedure/1/stage/2'
    %ul.nav.nav-tabs
      %li.active
        %a(href="#new" data-toggle="tab") Объединные (24)
      %li
        %a(href="#origin" data-toggle="tab") Исходные (437)
    .tab-content
      #new.tab-pane.fade.in.active
        %br
        %small
          Показаны темы: Организационная, Брендинг
          %a(href="#")| сортировать по типу
        %br
        %br
        .media
          .media-body
            %span.label.label-info  Организационная
            %span.label.label-danger  Имеющиеся недостатки
            %br
            %span.label.label-default что
            %ul
              %li Нереруглярно ездят коллежские ассесоры
              %li Губернатор плохо вышивает по тюли
              %li Почтмейстеры берут взятки
            %span.label.label-default где
            Во Владимирской губернии
            %br
            %span.label.label-default когда
            Во время сбора подати


            %a(href="/procedure/1/stage/2/2/") подробнее
            %br
            %br
            .row
              .col-md-2
                -#%small 11.12.2013
              .col-md-10
                .pull-right
                  5
                  %span.glyphicon.glyphicon-eye-open
                  |
                  %span.text-success согласны 2 из 3 авторов
                  %span.glyphicon.glyphicon-thumbs-up.text-success
                  |
                  комментировать  0
                  %span.glyphicon.glyphicon-comment


        %br
        %br
        .media
          .media-body
            %span.label.label-info  Брендинг
            %span.label.label-success Отсутствующие достоинства
            %br
            %span.label.label-default что
            %ul
              %li Селифан имеет крепкий запах
              %li Подушки набиты чем-то напоминающим кирпич
              %li Лицо в зеркле напоминает блин
              %li Коляску отказываются чинить
            %span.label.label-default где
            на постоялом дворе
            %br
            %span.label.label-default когда
            все время


            %a(href="/procedure/1/stage/2/2/") подробнее
            %br
            %br
            .row
              .col-md-2
                -#%small 11.12.2013
              .col-md-10
                .pull-right
                  5
                  %span.glyphicon.glyphicon-eye-open
                  |
                  %span.text-success согласны 1 из 5 авторов
                  %span.glyphicon.glyphicon-thumbs-up.text-success
                  |
                  комментировать 3
                  %span.glyphicon.glyphicon-comment
        %br
        %br
        .media
          .media-body
            %span.label.label-info  Брендинг
            %span.label.label-success Отсутствующие достоинства
            %br
            %code Не объединено ни с чем
            %br

            %span.label.label-default что
            %ul
              %li Помещик Ноздрев изволили высечь урядника

            %span.label.label-default где
            на ярмарке
            %br
            %span.label.label-default когда
            во время попойки


            %a(href="/procedure/1/stage/2/2/") подробнее
            %br
            %br
            .row
              .col-md-2
                -#%small 11.12.2013
              .col-md-10
                .pull-right
                  5
                  %span.glyphicon.glyphicon-eye-open
                  |
                  %span.text-success  пока нет согласия авторов
                  %span.glyphicon.glyphicon-thumbs-up.text-success
                  |
                  комментировать 3
                  %span.glyphicon.glyphicon-comment

      #origin.tab-pane.fade
        %br
        %small
          Показаны все несовершенства
          %a(href="#")| показать не объединенные (17)
        %br
        %br
        .media
          %a.pull-left(href="#")
            = image_tag  'avatar2.png',  class: "media-object"
            %small 40 балов
            %br
            =link_to 'Cергей Ястржемский', '#'

          .media-body
            %span.label.label-info  Организационная
            %span.label.label-danger  Имеющиеся недостатки
            %br
            %span.label.label-default что
            Нереруглярно ездят коллежские ассесоры
            %br
            %span.label.label-default где
            Во Владимирской губернии
            %br
            %span.label.label-default когда
            Во время сбора подати
            %br
            %code Включено в несовершенство
            %br
            %a(href="/procedure/1/stage/2/1/") подробнее
            %br
            %br
            .row
              .col-md-2
                %small 11.12.2013
              .col-md-10
                .pull-right
                  5
                  %span.glyphicon.glyphicon-eye-open
                  |
                  %span.text-success за 30
                  %span.glyphicon.glyphicon-thumbs-up.text-success
                  |
                  %span.text-danger против 5
                  %span.glyphicon.glyphicon-thumbs-down.text-danger
                  |
                  комментировать 1
                  %span.glyphicon.glyphicon-comment



        .media
          %a.pull-left(href="#")
            = image_tag  'avatar3.png',  class: "media-object"
            %small 40 балов
            %br
            =link_to 'Михайло Собакевич', '#'

          .media-body
            %span.label.label-info  Брендинг
            %span.label.label-success  Отсутствующие достоинства

            %br
            %span.label.label-default что
            Нестабильный спрос на мертвые души
            %br
            %span.label.label-default где
            в губернском городе N
            %br
            %span.label.label-default когда
            все время


            %a(href="/procedure/1/stage/2/1/") подробнее
            %br
            %br
            .row
              .col-md-2
                %small 11.12.2013
              .col-md-10
                .pull-right
                  5
                  %span.glyphicon.glyphicon-eye-open
                  |
                  %span.text-success за 4
                  %span.glyphicon.glyphicon-thumbs-up.text-success
                  |
                  %span.text-danger против 32
                  %span.glyphicon.glyphicon-thumbs-down.text-danger
                  |
                  комментировать 1
                  %span.glyphicon.glyphicon-comment






  = render partial: 'shared/right_side'

